MediaWS/DerivedData/*
MediaWS/MediaWS.xcworkspace/xcuserdata/*
MediaWS/MediaSenderApp/MediaSenderApp.xcodeproj/xcuserdata/*
MediaWS/Push2TallkApp/Push2TallkApp.xcodeproj/xcuserdata/*
MediaWS/OpenCore-AMR/OpenCore-AMR.xcodeproj/xcuserdata/*
MediaWS/Reachability/Reachability.xcodeproj/xcuserdata/*
MediaWS/Push2TallkApp/Push2TallkApp/Dependencies/Libnice.xcodeproj/xcuserdata/*
MediaWS/Push2TallkApp/Push2TallkApp/Dependencies/Opus.xcodeproj/xcuserdata/*
MediaWS/Push2TallkApp/Push2TallkApp/Dependencies/Libnice.xcodeproj/*
MediaWS/Push2TallkApp/Push2TallkApp/Dependencies/Opus.xcodeproj/*
MediaWS/DerivedData/*

MediaWS/Libnice/Libnice.xcodeproj/xcuserdata/*

MediaWS/Opus/Opus.xcodeproj/xcuserdata/*

MediaWS/PureUtilities/PureUtilities.xcodeproj/xcuserdata/*
MediaWS/RTPLib/RTPLib.xcodeproj/xcuserdata/*

MediaWS/Utilities/Utilities.xcodeproj/xcuserdata/*

MediaWS/MediaSenderApp/DerivedData/*

MediaWS/OggLib/OggLib.xcodeproj/xcuserdata/*

MediaWS/SpeexLib/SpeexLib.xcodeproj/xcuserdata/*
