MediaWS/DerivedData/*
MediaWS/MediaWS.xcworkspace/xcuserdata/*
MediaWS/MediaSenderApp/MediaSenderApp.xcodeproj/xcuserdata/*
MediaWS/Push2TallkApp/Push2TallkApp.xcodeproj/xcuserdata/*
MediaWS/OpenCore-AMR/OpenCore-AMR.xcodeproj/xcuserdata/*
